<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Schedule Dashboard Page" />
    <meta
            name="keywords"
            content="HTML, CSS, JavaScript, Bootstrap, Chart JS"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Schedule Dashboard</title>

    <!-- Scrollbar Custom CSS -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
    />

    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
    />

    <!-- External CSS -->
    <link
            rel="stylesheet"
            href="/styles/cssandjs/css/styles.css"
            type="text/css"
            media="screen"
    />

    <!-- CDN Fontawesome -->
    <script
            src="https://kit.fontawesome.com/32f82e1dca.js"
            crossorigin="anonymous"
    ></script>
</head>
<body class="bg-light text-dark">

<!-- Nav Sidebar -->
<nav
        class="sidebar offcanvas-md offcanvas-start"
        data-bs-scroll="true"
        data-bs-backdrop="false"
>
    <div class="d-flex justify-content-end m-3 d-block d-md-none">
        <button
                aria-label="Close"
                data-bs-dismiss="offcanvas"
                data-bs-target=".sidebar"
                class="btn p-0 border-0 fs-4"
        >
            <i class="fas fa-close"></i>
        </button>
    </div>
    <div class="d-flex justify-content-center mt-md-5 mb-5">
        <img
                src="/styles/cssandjs/images/default-monochrome.svg"
                alt="Logo"
                width="140px"
                height="40px"
        />
    </div>
    <div class="pt-2 d-flex flex-column gap-5">
        <div class="menu p-0">
            <p>Daily Use</p>
            <a th:href="@{/usersPage}" class="item-menu">
                <i class="icon ic-stats"></i>
                User
            </a>
            <a th:href="@{/films}" class="item-menu">
                <i class="icon ic-trans"></i>
                Film
            </a>
            <a th:href="@{/seats}" class="item-menu">
                <i class="icon ic-msg"></i>
                Seat
            </a>
            <a th:href="@{/schedulePage}" class="item-menu">
                <i class="icon ic-stats"></i>
                Schedule
            </a>
            <a th:href="@{/booking}" class="item-menu">
                <i class="icon ic-account"></i>
                Booking
            </a>
        </div>
        <div class="menu">
            <p>Others</p>
            <a href="#" class="item-menu">
                <i class="icon ic-settings"></i>
                Settings
            </a>
            <a href="#" class="item-menu">
                <i class="icon ic-help"></i>
                Help
            </a>
            <a href="#" class="item-menu">
                <i class="icon ic-logout"></i>
                Logout
            </a>
        </div>
    </div>
</nav>

<main class="content">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div>
                <button
                        class="sidebarCollapseDefault btn p-0 border-0 d-none d-md-block"
                        aria-label="Hamburger Button"
                >
                    <i class="fa-solid fa-bars"></i>
                </button>
                <button
                        data-bs-toggle="offcanvas"
                        data-bs-target=".sidebar"
                        aria-controls="sidebar"
                        aria-label="Hamburger Button"
                        class="sidebarCollapseMobile btn p-0 border-0 d-block d-md-none"
                >
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>

            <form th:action="@{/search}" method="post" class="form-inline mb-3">
                <div class="d-flex align-items-center justify-content-end gap-4">
                    <input
                            type="text"
                            name="name"
                            placeholder="Search Schedule"
                            class="search form-control"
                            th:value="${name}"
                    />
                    <button
                            class="btn btn-search d-flex justify-content-center align-items-center p-0"
                            type="submit"
                    >
                        <img
                                src="/styles/cssandjs/images/ic_search.svg"
                                width="20px"
                                height="20px"
                        />
                    </button>
                    <img
                            src="/styles/cssandjs/images/avatar.jpg"
                            alt="Photo Profile"
                            class="avatar"
                    />
                </div>
            </form>
        </div>
    </nav>
    <section class="p-3">
            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">

                <div class="container-fluid text-center">
                    <div class="text-center">
                        <h1>[[${pageTitle}]]</h1>
                    </div>

                    <form th:action="@{/schedule/save}" method="post" th:object="${schedules}"
                          style="max-width: 700px; margin: 0 auto; ">
                        <input type="hidden" th:field="*{scheduleId}">
                        <div class="border border-secondary rounded p-3">
                            <div class="form-group row mt-3">
                                <label class="col-sm-4 col-form-label">Film ID:</label>
                                <div class="col-sm-8">
                                    <select class="form-select" aria-label="Default select example" th:field="*{films}">
                                        <option class="text-capitalize" th:each="film:${films}" th:text="${film.filmId} +' '+ ${film.name}" th:value="${film.filmId}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row mt-3">
                                <label class="col-sm-4 col-form-label">Seat Number:</label>
                                <div class="col-sm-8">
                                    <input type="number" th:field="*{seats.seatId}" class="form-control" maxlength="45"/>
                                </div>
                            </div>

                            <div class="form-group row mt-3">
                                <label class="col-sm-4 col-form-label">Date Show:</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" th:field="*{dateShow}"/>
                                </div>
                            </div>

                            <div class="form-group row mt-3">
                                <label class="col-sm-4 col-form-label">Show Start:</label>
                                <div class="col-sm-8">
                                    <input type="time" th:field="*{showStart}" class="form-control" required minlength="3" maxlength="15"/>
                                </div>
                            </div>

                            <div class="form-group row mt-3">
                                <label class="col-sm-4 col-form-label">Show End:</label>
                                <div class="col-sm-8">
                                    <input type="time" th:field="*{showEnd}" class="form-control" required minlength="3" maxlength="15"/>
                                </div>
                            </div>

                            <div class="form-group row mt-3">
                                <label class="col-sm-4 col-form-label">Price:</label>
                                <div class="col-sm-8">
                                    <input type="number" th:field="*{price}" class="form-control" required minlength="3" maxlength="15"/>
                                </div>
                            </div>

                            <div class="text-center mt-3">
                                <button type="submit" class="btn btn-primary m-2">Save</button>
                                <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </section>
</main>


<script type="text/javascript">
    function cancelForm(){
        window.location = "[[@{/schedulePage}]]"
    }
</script>
</body>
</html>