<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Seats Dashboard Page" />
    <meta
            name="keywords"
            content="HTML, CSS, JavaScript, Bootstrap, Chart JS"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Seats Dashboard</title>

    <!-- Scrollbar Custom CSS -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
    />

    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
    />

    <!-- External CSS -->
    <link
            rel="stylesheet"
            href="/styles/cssandjs/css/styles.css"
            type="text/css"
            media="screen"
    />

    <!-- CDN Fontawesome -->
    <script
            src="https://kit.fontawesome.com/32f82e1dca.js"
            crossorigin="anonymous"
    ></script>
</head>
<body>
<!-- Nav Sidebar -->
<nav
        class="sidebar offcanvas-md offcanvas-start"
        data-bs-scroll="true"
        data-bs-backdrop="false"
>
    <div class="d-flex justify-content-end m-3 d-block d-md-none">
        <button
                aria-label="Close"
                data-bs-dismiss="offcanvas"
                data-bs-target=".sidebar"
                class="btn p-0 border-0 fs-4"
        >
            <i class="fas fa-close"></i>
        </button>
    </div>
    <div class="d-flex justify-content-center mt-md-5 mb-5">
        <img
                src="/styles/cssandjs/images/default-monochrome.svg"
                alt="Logo"
                width="140px"
                height="40px"
        />
    </div>
    <div class="pt-2 d-flex flex-column gap-5">
        <div class="menu p-0">
            <p>Daily Use</p>
            <a th:href="@{/usersPage}" class="item-menu">
                <i class="icon ic-stats"></i>
                User
            </a>
            <a th:href="@{/films}" class="item-menu">
                <i class="icon ic-trans"></i>
                Film
            </a>
            <a th:href="@{/seatsPage}" class="item-menu active">
                <i class="icon ic-msg"></i>
                Seat
            </a>
            <a th:href="@{/schedulePage}" class="item-menu">
                <i class="icon ic-stats"></i>
                Schedule
            </a>
            <a th:href="@{/booking}" class="item-menu">
                <i class="icon ic-account"></i>
                Booking
            </a>
        </div>
        <div class="menu">
            <p>Others</p>
            <a href="#" class="item-menu">
                <i class="icon ic-settings"></i>
                Settings
            </a>
            <a href="#" class="item-menu">
                <i class="icon ic-help"></i>
                Help
            </a>
            <a href="#" class="item-menu">
                <i class="icon ic-logout"></i>
                Logout
            </a>
        </div>
    </div>
</nav>

<!-- Main Content -->
<main class="content">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div>
                <button
                        class="sidebarCollapseDefault btn p-0 border-0 d-none d-md-block"
                        aria-label="Hamburger Button"
                >
                    <i class="fa-solid fa-bars"></i>
                </button>
                <button
                        data-bs-toggle="offcanvas"
                        data-bs-target=".sidebar"
                        aria-controls="sidebar"
                        aria-label="Hamburger Button"
                        class="sidebarCollapseMobile btn p-0 border-0 d-block d-md-none"
                >
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <div class="d-flex align-items-center justify-content-end gap-4">
                <a href="/seats/search">
                    <i class="btn btn-outline-secondary justify-content-center align-items-center p-0"
                       type="button"> Search Available Seats <img
                            src="/styles/cssandjs/images/ic_search.svg"
                            width="20px"
                            height="20px"
                    /> </i>
                </a>
                <img
                        src="/styles/cssandjs/images/avatar.jpg"
                        alt="Photo Profile"
                        class="avatar"
                />
            </div>
        </div>
    </nav>
    <section class="p-3">
        <header>
            <h3>Overview</h3>
            <p>Manage Seats</p>
        </header>
        <div class="information d-flex flex-column gap-5">
            <div class="row px-1 mb-2 gap-5">
                <!--               start card-->
                <div class="col-xl-4 col-12 card debit">
                    <p class="number">Add Seats</p>
                    <div class="buttons">
                        <a th:href="@{/seats/new}">
                            <button class="blob-btn">
                                Add Seats
                                <span class="blob-btn__inner">
                          <span class="blob-btn__blobs">
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                          </span>
                        </span>
                            </button>
                        </a>
                        <br/>

                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                            <defs>
                                <filter id="goo">
                                    <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
                                    <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                                </filter>
                            </defs>
                        </svg>
                    </div>
                </div>
                <!--                end card-->
                <!--                start total user-->
                <div class="col-xl-4 col-12 card balance">
                    <h2>Total Seats</h2>
                    <ion-icon class="fa-solid fa-chair" size="large"></ion-icon>
                    <h2>[[${totalItems}]]</h2>
                </div>
                <!--                end total user-->
<!--                                start chart-->
                <div class="col-xl-4 col-12 card donut-chart m-lg-0 p-2">
                    <div>
                        <canvas id="chart-budget" style="height: 226px; width: 100%">
                        </canvas>
                    </div>
                </div>
                <!--                end chart-->
            </div>

            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                <div style="width:300px; float=center;" th:if="${message}" class="alert alert-success text-center">
                    [[${message}]]
                </div>
                <!--            Start of Table-->
                <div class="table-responsive">
                    <table class="text-center table table-borderless transaction-table w-100 active" id="table-all">
                        <thead style="background: black; thead-dark">
                        <tr style="color: white;">
<!--                            <th>No</th>-->
                            <th>ID</th>
                            <th>Nomor Kursi</th>
                            <th>Nama Studio</th>
                            <th>Status Kursi</th>
                            <th>Fiture</th>
                        </tr>
                        </thead>

                        <tbody>
                        <th:block th:each="seats, iter : ${listSeats}">
                            <tr>
<!--                                <td th:text="${iter.index + 1}"></td>-->
                                <td> [[${seats.seatId}]] </td>
                                <td> [[${seats.seatNumber}]] </td>
                                <td> Teater [[${seats.studioName}]] </td>
<!--                                <td> [[${seats.isAvailable}]] </td>-->
                                <td th:text="${seats.isAvailable} ? 'Available' : 'Not Available'"></td>
                                <td>
                                    <a class="btn btn-primary"  th:href="@{'/seats/update/' + ${seats.seatId}}"><i class="fa-solid fa-pen"></i></a>
                                    <a class="btn btn-danger" th:href="@{'/seats/delete/' + ${seats.seatId}}"><i class="fa-solid fa-trash-can"></i></a>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>

                    <!--                    Start Pagination-->
                    <div class="row col-sm-10">
                        <div class="col-sm-2">
                            <span>Total Rows: [[${totalItems}]]</span>
                        </div>
                        <div class="pagination justify-content-center">
                            <div >
                                <a  th:href="@{'/page/seats/' + ${currentPage - 1}}">Prev</a><span> &nbsp;</span>
                                    <span th:each ="i: ${#numbers.sequence(1, totalPages)}">
                                    <a th:if="${currentPage != i}" th:href="@{'/page/seats/' + ${i}}">[[${i}]]</a>
                                    <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;</span>
                                <a  th:href="@{'/page/seats/' + ${currentPage + 1}}">Next</a>
                                <a th:if="${currentPage < totalPages}" th:href="@{'/page/seats/' + ${totalPages}}">Last</a>

                            </div>
                        </div>
                    </div>
                    <!--                    End Pagination-->
                </div>
                <!--            Enf of Table-->
            </div>
        </div>

    </section>
</main>

<!-- Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
></script>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"
></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script src="/styles/cssandjs/js/donut_chart.js"></script>
<script src="/styles/cssandjs/js/line_chart.js"></script>

<script>
      $(document).ready(function () {
        $('.sidebarCollapseDefault').on('click', function () {
          $('.sidebar').toggleClass('active');
          $('.content').toggleClass('active');
        });
      });
    </script>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
